.card.card-full {
	height : 100%;
}
@media only screen and ( min-width : 1024px ){
    div.form-mobile, .mobile {
      display : none;
    }
    tr.form-desktop {
      display : table-row;
    }
    .desktop {
      .display : block;
    }
    .card {
      padding-left  : 15px;
      padding-right : 15px;
    }
}
@media only screen and ( max-width : 1024px ){
    div.form-mobile, .mobile {
      display : block;
    }
    tr.form-desktop, .desktop {
      display : none;
    }
}
.row>.card[class*='col-'] {
  height : fit-content;
}
.card {
  background-color : transparent !important;
}
.card .card-body {
  padding : 0px !important;
  border-left : 1px solid white;
  border-right : 1px solid white;
  border-bottom : 1px solid white;
}
.card.card-primary .card-heading {
  background-color : white;
  color : black;
}
.card.card-primary .card-heading h4 {
  margin : 10px;
}
.card.card-primary .card-heading h4 a {
  color : black;
  text-decoration : none;
}
.card.links-page {
  height : 100%;
  width : fit-content;
}