.nav-text{ font-weight: bold; text-align: center; }
.nav-icon{ text-align: center; }
.Home-Screen-Option{ margin-top: 25px; }
body {
	background-color:#1d1d1d !important;
	color:whitesmoke !important;
}