div#ui-datepicker-div {
	z-index : 10;
}
input.form-control, select.form-control {
	background-color: rgba( 255, 255, 255, .9 );
}
input.form-control[readonly], select.form-control[readonly] {
	background-color: rgba( 255, 255, 255, .35 );
	color : white;
}
button.dt-button.form-control {
	width : auto;
	display : inline-block;
}
.custom-width{
	width:180px;
}