table {
	font-size : 14px;
}

table.dataTable tr.dtrg-group td{background-color:#1d1d1d;color:white;}
table.dataTable tr.dtrg-group.dtrg-level-0 td{/*font-weight:bold;*/}
table.dataTable tr.dtrg-group.dtrg-level-1 td,table.dataTable tr.dtrg-group.dtrg-level-2 td{background-color:#5d5d5d;color:white;padding-top:0.25em;padding-bottom:0.25em;padding-left:2em;font-size:0.9em}

table#Table_Tickets tbody tr, #Table_Units tbody tr, #Table_Customers tbody tr, #Table_Violations tbody tr, #Table_Proposals tbody tr, #Table_Jobs tbody tr, #Table_Invoices tbody tr, #Table_Locations tbody tr {cursor:pointer;}

table#Table_Tickets tbody tr { height:50px; }
table#Table_Tickets tbody tr td { padding:5px; padding-top:12.5px; }
table#Table_Tickets tbody tr.gold { background-color:gold !important; color:black !important; }
table#Table_Tickets tbody tr.red { background-color:red !important; color:black !important; }
table#Table_Tickets tbody tr.blue.odd { background-color:#007bc5 !important; color:white !important; }
table#Table_Tickets tbody tr.blue.even { background-color:#005b92 !important; color:white !important; }
table#Table_Tickets tbody tr.light.odd { background-color:whitesmoke !important; color:black !important; }
table#Table_Tickets tbody tr.light.even { background-color:#e0e0e0 !important; color:black !important; }
table#Table_Tickets tbody tr.green.odd { background-color:#a1f1a1 !important; color:black !important; }
table#Table_Tickets tbody tr.green.even { background-color:#90ee90 !important; color:black !important; }

td.indent { width:0px; }

th input {
	width : 100%;
}

table.dataTable tbody tr.selected td, table.dataTable tbody tr.selected td a {
	background-color : gold !important;
	color : black !important;
}
table.dataTable tbody tr.child li {
	list-style-type : none;
	display : flex;
}
table.dataTable tbody tr.child td span.dtr-title {
	width : 100px;
	font-weight:bold;
	text-align : right;
	padding-right:5px;
}
table.dataTable tbody tr.child td span.dtr-data {
	padding-left : 5px;
}
div.dataTables_scrollBody {
	z-index: 1;
}
table.dataTable tbody {
	background-color : black;
}
table.dataTable tbody tr {
	background-color : rgba( 255, 255, 255, .1 );
	color : white;
}
table.dataTable tbody tr.even {
	background-color: rgba( 255, 255, 255, .15 );
}

table.dataTable tbody tr td a {
	color : rgba( 255, 255, 255, .9 );
}
table.dataTable tbody tr:hover, table.dataTable tbody tr.even:hover, table.dataTable tbody tr td:hover {
	background-color : rgba( 255, 255, 255, .25 );
}