.form-group>label:first-child {
    min-width  : 100px;
    text-align : right;
}
.hoverGray:hover {
    background-color : gold !important;
}
.paginate_button {
  background-color : rgba( 255, 255, 255, .7 );
}
.paginate_button:hover {
  color : white !important;
}
.dataTables_wrapper .row:nth-child( 2 ){
  height : 100%;
  top : 0;
  right : 0;
  bottom : 0;
  left : 0;
}