.panel-primary .panel-body {
	background-color:#2d2d2d !important;
	color:white;
}
.panel-primary .panel-body table tbody {
	color:black;
}
.panel-primary label, .panel-primary .panel-body li.paginate_button.active a {
	color:white !important;
}
.panel-primary .panel-body input, .panel-primary .panel-body button, .panel-primary .panel-body textarea, .panel-primary .panel-body a, .panel-primary .panel-body select, .panel-primary .panel-body li.paginate_button a {
	color:black !important;
}
.panel-primary .panel-body a {
	color:white !important;
}
.panel-heading.heading-light {
	background-color:#454545 !important;
}