    .popup {
    position:absolute;
    z-index:99;
    left:20%;
    right:20%;
    top:20%;
    bottom:20%;
    height:60%;
    width:60%;
    background-color:white;
    padding:0px;
  }
  div.column {display:inline-block;vertical-align:top;}
  div.label1 {display:inline-block;font-weight:bold;width:150px;vertical-align:top;}
  div.data {display:inline-block;width:300px;vertical-align:top;}
  div#map * {overflow:visible;}
  .popup input, .popup select {
    color:black !important;
  }
