    * { margin: 0 }
    .Home-Screen-Option,.row,.nav-icon,.nav-text {
      margin: 0;
    }

    .Screen-Tabs { overflow-x: hidden }

    .Screen-Tabs>div {
      --n: 1;
      display: flex;
      align-items: center;
      overflow-y: hidden;
      width: 100%; // fallback
      width: calc(var(--n)*100%);
      /*height: 50vw;*/ max-height: 100vh;
      transform: translate(calc(var(--tx, 0px) + var(--i, 0)/var(--n)*-100%));

      div {
        /*width: 100%; // fallback
        width: calc(100%/var(--n));*/
        user-select: none;
        pointer-events: none
      }

    }

    .smooth { transition: transform  calc(var(--f, 1)*.5s) ease-out }
    div.Home-Screen-Option.active {
      background-color: black !important;
      color:white !important;
      margin: auto;

    }
    .Home-Screen-Option:hover  {
      background-color: black !important;
      color: white !important;
    }
.nav-text{
  font-weight: bold;
  text-align: center;
}
.nav-icon{
  text-align: center;
}
* { margin: 0 }

.Screen-Tabs { overflow-x: hidden }

.Screen-Tabs>div {
  --n: 1;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  width: 100%; // fallback
  width: calc(var(--n)*100%);
  /*height: 50vw;*/ max-height: 100vh;
  transform: translate(calc(var(--tx, 0px) + var(--i, 0)/var(--n)*-100%));

  div {
    /*width: 100%; // fallback
    width: calc(100%/var(--n));*/
    user-select: none;
    pointer-events: none
  }

}

.smooth { transition: transform  calc(var(--f, 1)*.5s) ease-out }
div.Home-Screen-Option.active {
  background-color:#3d3d3d !important;
  color:white !important;
}
div.column {display:inline-block;vertical-align:top;}
div.label1 {display:inline-block;font-weight:bold;width:150px;vertical-align:top;}
div.data {display:inline-block;width:300px;vertical-align:top;}
div.column {display:inline-block;vertical-align:top;}
div.label1 {display:inline-block;font-weight:bold;width:150px;vertical-align:top;}
div.data {display:inline-block;width:300px;vertical-align:top;}
div#map * {
    overflow:visible;
}